body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    gap: 5vh;
    background: rgb(169,213,239);
    background: radial-gradient(circle, rgba(169,213,239,1) 12%, rgba(29,63,81,1) 80%);
    
}

#main-home {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    color: rgb(252, 252, 252);
    margin-top: 5vh;
    
}

#main-home img {
    width: 50vh;
}

#links-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    gap: 5vh;

}

#links-section a{
    text-decoration: none;
}

#about-a:hover {
    color: blue;
    transform: rotate(360deg);
    transition-duration: 0.5s
}
#works-a:hover{
    color: blue;
    transform: rotate(360deg);
    transition-duration: 0.5s
}
#photogallery-a:hover{
    color: blue;
    transform: rotate(360deg);
    transition-duration: 0.5s
}
