body {
    background: rgb(169,213,239);
    background: radial-gradient(circle, rgba(169,213,239,1) 12%, rgba(29,63,81,1) 80%);
    font-size: 1.4rem;
    color: black;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-content: center;
}


ul li a {
    color: white;
}

body a {
    margin: 0 auto;
    text-decoration: none;
    color: antiquewhite;
}

#home-a-link {
    align-items: center;
}

#home-a-link:hover {
    font-size: 3rem;
    color: blue;
    transform: rotate(360deg);
    transition-duration: 0.5s
}