body {
    margin: 0;
    padding: 10px;
    display: grid;
    gap: 20px;
    grid-template-columns:  70% 25%;
    grid-template-rows: 32% 38% 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: rgb(169,213,239);
    background: radial-gradient(circle, rgba(169,213,239,1) 12%, rgba(29,63,81,1) 80%);
}

h2 {
    font-size: 30px;
}

#about {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#about h1 {
    font-size: 60px;
    margin: 0;
    background: #1909AD;
    background: linear-gradient(to right, #d42a0c 0%, orangered 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about img {
    width: 100%;
    height: 50%;
    border-radius: 15px;
}

#intro {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: white;
}

#intro h2 {
    text-align: center;
}

#career {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    color: rgb(4, 24, 36)
}

#career h2 {
    text-align: center;
}

#career blockquote {
    font-weight: bold;
}

#awards {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#awards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

#honours {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 60%;
    padding: 0;
    margin: 0;
}

#awards h2 {
    margin: 0;
}

#honours ul {
    list-style-type: none;
    line-height: 22px;
}

#honours img {
    width: 20%;
    height: 100%;
    border-radius: 10px;
}

#personal-life {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#personal-life blockquote {
    width: 100%;
    font-size: 18px;
    font-weight: bolder;
}

#personal-life h2 {
    margin: 10px 0 0 0;
}



