<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style/style-about.css" />
  </head>
  <body>
    <section id="intro">
      <h2>Introduction</h2>
      <p>
        Sir Timothy John Berners-Lee (born 8 June 1955) also known as TimBL, is
        an English computer scientist best known as the inventor of the World
        Wide Web. He is a Professorial Fellow of Computer Science at the
        University of Oxford and a professor at the Massachusetts Institute of
        Technology (MIT). Berners-Lee proposed an information management system
        on 12 March 1989, then implemented the first successful communication
        between a Hypertext Transfer Protocol (HTTP) client and server via the
        Internet in mid-November.
      </p>

      <p>
        Berners-Lee is the director of the World Wide Web Consortium (W3C),
        which oversees the continued development of the Web. He co-founded (with
        his then wife-to-be Rosemary Leith) the World Wide Web Foundation. He is
        a senior researcher and holder of the 3Com founder's chair at the MIT
        Computer Science and Artificial Intelligence Laboratory (CSAIL). He
        devised and implemented the first Web browser and Web server, and helped
        foster the Web's subsequent explosive development.
      </p>

      <p>
        He currently directs the W3 Consortium, developing tools and standards
        to further the Web's potential. In 2004, Berners-Lee was knighted by
        Queen Elizabeth II for his pioneering work.[20][21] He was named in Time
        magazine's list of the 100 Most Important People of the 20th century and
        has received a number of other accolades for his invention.
      </p>
    </section>

    <section id="about">
        <h1>ABOUT</h1>
        <img src="./images/tim-at-court.jpg" alt="tim-at-court" />
      </section>

    <section id = "career">
      <h2>Career and research</h2>
      <p>
        After graduation, Berners-Lee worked as an engineer at the
        telecommunications company Plessey in Poole, Dorset. In 1978, he joined
        D. G. Nash in Ferndown, Dorset, where he helped create typesetting
        software for printers. Berners-Lee worked as an independent contractor
        at CERN from June to December 1980.
      </p>

      <p>
        In 1989, CERN was the largest Internet node in Europe and Berners-Lee
        saw an opportunity to join hypertext with the Internet:
        <blockquote
          >"I just had to take the hypertext idea and connect it to the TCP and
          DNS ideas and—ta-da!—the World Wide Web. Creating the web was really
          an act of desperation, because the situation without it was very
          difficult when I was working at CERN later. Most of the technology
          involved in the web, like the hypertext, like the Internet, multifont
          text objects, had all been designed already. I just had to put them
          together."</blockquote
        >
      </p>

      <p>
        NeXT Computer was used by Berners-Lee at CERN and became the world's
        first web server Berners-Lee wrote his proposal in March 1989 and, in
        1990, redistributed it. It then was accepted by his manager, Mike
        Sendall, who called his proposals <cite>"vague, but exciting"</cite>. 
        Berners-Lee
        published the first web site, which described the project itself, on 20
        December 1990; it was available to the Internet from the CERN network.
        The site provided an explanation of what the World Wide Web was, and how
        people could use a browser and set up a web server, as well as how to
        get started with your own website.
      </p>

      <p>
        In December 2004, he accepted a chair in
        computer science at the School of Electronics and Computer Science,
        University of Southampton, Hampshire, to work on the Semantic Web.
        In a Times article in October 2009, Berners-Lee admitted that the initial
        pair of slashes ("//") in a web address were "unnecessary". He told the
        newspaper that he easily could have designed web addresses without the
        slashes. "There you go, it seemed like a good idea at the time," he said
        in his lighthearted apology.
      </p>

    </section>

    <section id = "awards">
        <h2>Awards and honours</h2>
        <div id = "honours">
            <img src="./images/award.jpg" alt="award-for-tim">
            <ul>
                <li>16 July 2004: Invested formally "for services to the global development on the Internet</li>
                <li>13 June 2007: Appointed to the Order of Mertit (OM)</li>
                <li>Elected a Fellow of the Royal Society (FRS) in 2001</li>
                <li>Elected as a member into the American Philosophical Society in 2004</li>
                <li>Awarded the inaugural Queen Elizabeth Prize for Engineering in 2013</li>
            </ul>
        </div>

    </section>

    <section id = "personal-life">
        <h2>Personal life</h2>
        <blockquote>"I like to keep work and personal life separate"</blockquote>
        <p>Berners-Lee married Nancy Carlson in 1990. They had two children and divorced in 2011.
            In 2014, he married Rosemary Leith.
        </p>
    </section>
  </body>
</html>
