<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/style-photogallery.css">
</head>
<body>
    <a id="home-a"href="/">Home</a>
    <img id="image1"src="./images/tim1.jpeg" alt="" >
    <img id="image2"src="./images/tim2.jpeg" alt="">
    <img id="image3"src="./images/tim3.jpeg" alt="">
    <img id="image4"src="./images/tim4.jpeg" alt="">
</body>
</html>