<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style-works.css">
    <title>Document</title>
</head>
<body>
    <h1>Works</h1>
    <a id="home-a-link" href="/home"> Home</a>
    <ul>
        <li><a href="https://time.com/5867314/we-need-to-change-how-we-share-our-personal-data-online-in-the-age-of-covid-19/">
        We Need to Change How We Share Our Personal Data Online in the
        Age of COVID-19</a>, Time magazine, 15 July 2020<br></li>
    
        
    
        <li><a href="https://qz.com/1872591/tim-berners-lee-on-the-future-impacted-by-coronavirus/">
        Tim Berners-Lee thinks the world can be better after
        Covid-19</a>, Quartz, 30 June 2020<br></li><li><a href="https://www.theguardian.com/commentisfree/2020/jun/04/covid-19-internet-universal-right-lockdown-online">
        Covid-19 makes it clearer than ever: access to the internet
        should be a universal right</a>, The Guardian, 4 June
        2020<br></li>
    
        <li><a href="https://webfoundation.org/2020/03/web-birthday-31/">Why the
        web needs to work for women and girls</a>, The World Wide Web
        Foundation, 2020</li>
    
        <li><a href="https://www.nytimes.com/2019/11/24/opinion/world-wide-web.html">
        I Invented the World Wide Web. Here’s How We Can Fix It</a>,
        OpEd, New York Times, 24 November 2019</li>
    
        <li><a href="https://www.wired.com/story/tim-berners-lee-world-wide-web-anniversary/">
        Where Does the World Wide Web Go From Here?</a>, Wired, 3
        November 2019</li>
    
        <li><a href="https://webfoundation.org/2019/03/web-birthday-30/">30 years
        on, what’s next #ForTheWeb?</a>, The World Wide Web Foundation,
        2019</li>
    
        <li><a href="https://inrupt.com/blog/one-small-step-for-the-web">One Small
        Step for the Web…</a>, Inrupt, November 2018</li>
    
        <li><a href="https://webfoundation.org/2018/03/web-birthday-29/">The web is
        under threat. Join us and fight for it</a>, The World Wide Web
        Foundation, 2018</li>
    
        <li><a href="http://webfoundation.org/2017/03/web-turns-28-letter/">Three
        challenges for the web, according to its inventor</a>, The
        World Wide Web Foundation, 2017</li>
    
        <li><a href="http://blog.digital.telefonica.com/2013/10/09/tim-berners-lee-telefonica-open-agenda/">
        The many meanings of Open</a>, Telefonica, 2013</li>
    
        <li><a href="https://www.wired.co.uk/article/tim-berners-lee">"Tim
        Berners-Lee on the Web at 25: the past, present and
        future”</a>, Wired, 23 August 2014<br></li>
    
        <li><a href="http://www.scientificamerican.com/article.cfm?id=long-live-the-web">
        Long Live the Web: A Call for Continued Open Standards and
        Neutrality</a> Scientific American Noverber 2010</li>
    
        <li><a href="2009/Talks/0204-ted-tbl">"Linked Data"
        (slides)</a> at the <a href="http://conferences.ted.com/TED2009/">TED 2009 conference</a>,
        "The Great Unveiling" in Long Beach, CA, USA, 4 February
        2009.</li>
    
        <li><a href="http://dig.csail.mit.edu/2007/03/01-ushouse-future-of-the-web.html">
        <em>The Future of the Web.</em></a> Testimony before the United
        States House of Representatives Committee on Energy and
        Commerce Subcommittee on Telecommunications and the Internet.
        (2007-03-01)</li>
    
        <li><a href="2007/Talks/0222-3gsm-tbl/text"><em>The
        Mobile Web</em></a> Keynote, 3GSM Barcelona, (2007-02-22)</li>
    
        <li><a href="2004/Talks/0914-tbl-speech/text"><em>Speech
        and the Future</em></a> Keynote, SpeechTek New York,
        (2004-09-14)</li>
    
        <li><a href="/2003/10/27-rogan.html">Comment on the '906
        patent</a> (2003)</li>
    
        <li><a href="2002/04/Japan/Lecture.html">Japan Prize
        commemorative lecture</a> on the universality of the Web
        (2002)</li>
    
        <li><a href="https://www.w3.org/2001/MLD">Michael Dertouzos R.I.P.
        (2001-08-27)</a></li>
    
        <li><a href="/1999/07/dms.html">D.M.Sendall. R.I.P. July 15
        1999</a></li>
    
        <li><a href="1999/04/13-tbl.html">The future of the Web -
        LCS 35th anniversary talk transcript</a></li>
    
        <li><a href="https://www.w3.org/UU.html">WWW, UU and I - Unitarian Universalism
        and the Web</a> (1998/4)</li>
    
        <li><a href="https://www.w3.org/ShortHistory.html">A one-page personal history of
        the web</a> (1998/5/7)</li>
    
        <li><a href="1998/02/Potential.html">Realizing the full
        potential of the web</a> (1997/12/3)</li>
    
        <li><em><a href="http://delivery.acm.org/10.1145/260000/253704/p57-berners-lee.pdf?key1=253704&amp;key2=2686134711&amp;coll=GUIDE&amp;dl=GUIDE&amp;CFID=13991775&amp;CFTOKEN=52899240">
        World-Wide Computer</a></em> Communications of the ACM,
        February 1997, Vol. 40 No 2.</li>
    
        <li><a href="https://www.w3.org/1996/ppf.html">The web: Past, Present and Future
        (1996)</a></li>
    
        <li><a href="https://www.w3.org/1996/EUUS.html">The Web; Europe and the US;
        Harmony and Diversity</a> (1996)</li>
    
        <li><a href="Talks/9510_Bush/Talk.html">Hypertext and Our
        Collective Destiny</a> , (1995)</li>
    
        <li><a href="https://www.w3.org9602affi.html">Presentation to CDA challenge by
        CDT et al</a> , 28 Feb 1996</li>
    
        <li><a href="History/1989/proposal.html">Original
        proposal for a global hypertext project at CERN</a> (1989)</li>
      </ul>
</body>
</html>